$extra-dark-blue: #263959;
$dark-blue: #2b90d9;
$medium-blue: #9baec8;
$light-blue: #67A4Af;
$extra-light-blue: #FAFBFC;

$dark-grey: #95a5a6;
$medium-grey: #9B9B9B; //*New
$light-grey: #dddddd;
$extra-light-grey: #FAFAFA; //*New
$extra-extra-light-grey: #fbfbfb; //*New

$dark-orange: #FF6000;

$medium-cyan: #00A7AD;

//Backgrounds

$xd-blue-background: $extra-dark-blue;
$d-blue-background: $dark-blue;
$m-blue-background: $medium-blue;
$l-blue-background: $light-blue;
$xl-blue-background: $extra-light-blue;

$d-grey-background: $dark-grey;
$m-grey-background: $medium-grey;
$l-grey-background: $light-grey;
$xl-grey-background: $extra-light-grey;
$xxl-grey-background: $extra-extra-light-grey;

$d-orange-background: $dark-orange;

$m-cyan-background: $medium-cyan;

//Borders

$xd-blue-border: $extra-dark-blue;
$d-blue-border: $dark-blue;
$m-blue-border: $medium-blue;
$l-blue-border: $light-blue;
$xl-blue-border: $extra-light-blue;

$d-grey-border: $dark-grey;
$m-grey-border: $medium-grey;
$l-grey-border: $light-grey;
$xl-grey-border: $extra-light-grey;

$d-orange-border: $dark-orange;

$m-cyan-border: $medium-cyan;

//Text
$xd-blue-text: $extra-dark-blue;
$d-blue-text: $dark-blue;
$m-blue-text: $medium-blue;
$l-blue-text: $light-blue;
$xl-blue-text: $extra-light-blue;

$d-grey-text: $dark-grey;
$m-grey-text: $medium-grey;
$l-grey-text: $light-grey;
$xl-grey-text: $extra-light-grey;
$xxl-grey-text: $extra-extra-light-grey;


$d-orange-text: $dark-orange;

$m-cyan-text: $medium-cyan;

// Helper Colors
$black: #000000;
