// Styling our text to overlay over image
@import '../../styles/common/colors';
@import '../../styles/common/fonts';

.col-lg-2{
  position: relative;
  padding: 0;
  .trash-icon {
    position: absolute;
    @extend %font-sh-extra-large;;
    color: $m-blue-text;
    margin-left: 130px;
    transition: 1s;
    z-index: 99;
    cursor: pointer;
    &:hover{
      transition: 0.5s;
      color: $xd-blue-text;
    }
  }
  &:hover {

  }
  .info {
    h2 {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
